.container {
  .header {
    display: flex;
    align-items: center;
    margin: 30px 0 0 0;
    width: 100%;
    border-bottom: 2px solid lightgray;
    padding: 10px 0;
    justify-content: space-between;

    .user {
      margin-left: 20px;
      font-size: 20px;
      font-family: sans-serif;
      display: flex;
      align-items: center;

      h5 {
        margin-right: 5px;
      }
    }
  }
  span {
    font-size: 40px;
    font-family: sans-serif;
    color: red;
  }
  table {
    width: 35%;
    margin-top: 20px;
    .table-header {
      td {
        font-size: 20px;
        font-weight: bold;
        font-family: sans-serif;
      }
    }
    tr.row {
      td {
        font-family: sans-serif;
      }
    }
    @media screen and (max-width: 760px) {
      width: 100%;
    }
  }
}
